body {
background-image: url('CLOUD07J.GIF');
}

#floor {
background-image: url('grass.png');
height: 200px;
width: 100%;
position: absolute;
bottom: 0;
left: 0;
}

#rat {
z-index: 1;
position: absolute;
bottom: 15%;
left: 8%;
}



#smile {
z-index: 3;
height: 250px;
position: absolute;
bottom: 70%;
left: 0;
}



h1 {
color: red;
position: absolute;
bottom: 50%;
left: 25%;
}



#table {
z-index: 2;
height: 300px;
position: absolute;
bottom: 8%;
left: 60%;
}



#frame1 {
z-index: 3; 
height: 200px;
position: absolute;
bottom: 70%;
left: 65%;
}



#frame2 {
z-index: 4;
height: 150px;
position: absolute;
bottom: 50%;
left: 80%;
}



#frame3 {
z-index: 5;
height: 200px;
position: absolute;
bottom: 64%;
left: 50%;
}







